<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Hotels Search</title>
    <link href="../bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="../jquery-ui-1.11.4.custom/jquery-ui.min.css"/>
    <script src="../jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
    <script src="../jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="../jquery-ui-1.11.4.custom/datepicker-pt-BR.js"></script>
    <script src="../scripts/search/hotels_search.js"></script>
</head>
<body>
<div class="container" style="margin-top: 5%">
<div class="alert alert-danger" th:if="${not #strings.isEmpty(error)}">
    <span th:text="${error}" />
</div>
<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading"><img src="../img/icon_title.png" class="center-block" /></div>
    <div class="panel-body">
        <h3 class="heading-sub">+ 1700.000 hotéis, pousadas e resorts no mundo todo.</h3>

        <form role="form" action="#"
              th:action="@{/search/hotelDate}"
              th:object="${search}" method="post">
             <input type="hidden" id="locationId" th:field="*{locationId}" />
            <div class="row">
                <label class="col-md-4 label-field">Quer ficar onde?</label>
                <label class="col-md-8 label-field">Quando? (Entrada e Saída)</label>
            </div>

            <div class="row">
                <div class="col-md-4 form-group left-inner-addon">
                    <i class="icon-map-marker"></i>
                    <label class="control-label  sr-only">Local</label>
                    <input id="location" type="text" class="form-control" placeholder="cidade ou hotel" th:field="*{location}"  />
                </div>

                <div class="col-md-4 form-group left-inner-addon">
                    <i class="icon-calendar"></i>
                    <label class="control-label  sr-only">Entrada</label>
                    <input id="beginDate" type="text" class="form-control" placeholder="entrada" th:field="*{beginDate}"  />
                </div>
                <div class="col-md-4 form-group left-inner-addon">
                    <i class="icon-calendar"></i>
                    <label class="control-label  sr-only">Saída</label>
                    <input id="endDate" type="text" class="form-control" placeholder="saída" th:field="*{endDate}" />
                </div>
             </div>

            <div class="row">
                <div class="col-md-offset-4 col-md-4  form-group">
                    <input id="anyDate" type="checkbox" th:field="*{anyDate}"  />
                    <label class="label-field-check">Ainda não defini as datas</label>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-search"><img src="../img/icon_btn_search.png"/>BUSCAR</button>
            </div>

        </form>

    </div>
</div>
<div th:if="${not #lists.isEmpty(hotelDates)}">
    <table class="table table-bordered">
        <tr>
            <th>Cidade</th>
            <th>Hotel</th>
            <th>Data</th>
            <th>Disponível</th>
        </tr>
        <tr th:each="hotelDate : ${hotelDates}">
            <td th:text="${hotelDate.hotel.city}">Cidade</td>
            <td th:text="${hotelDate.hotel.name}">Hotel</td>
            <td th:text="${#dates.format(hotelDate.date, 'dd/MM/yyyy')}">Data</td>
            <td th:text="*{hotelDate.available} ? 'Sim' : 'Não'">Disponível</td>
        </tr>
    </table>
    </div>
</div>
</body>
</html>